  header, main{
      display: flex;
      flex-direction: column;
      align-items: center;
}

button{
    width: 83px;
}

/* This CSS is only to center the content. I dont create classes to make this easier
    Esse CSS é apenas para centralizar o conteúdo. Eu não criei classes para deixar isso mais fácil
*/